<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true" internalLogToConsole="false" autoReload="true" xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target name="file" xsi:type="AsyncWrapper" queueLimit="10000" overflowAction="Block">
      <target name="TextFile" xsi:type="File" fileName="${basedir}/F7B31110-A55A-4def-AEC5-E476AF1105B5/trace.${shortDate}.txt" layout="${longdate} ${level:uppercase=true:padding=5} | ${message} ${exception:format=tostring} | ${threadid}"/>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="TextFile" />
  </rules>
</nlog>